.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 90px;
  padding: 0 15px 0 15px;
  background-color: #fff;
}

.header__logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #637f83;
}

.navigation {
  max-width: 580px;
  width: 100%;
}

@media (max-width: 639px) { 
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  position: relative;
}

.navigation__item_link {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #637f83;
}

.navigation__item_active {
  color: #e4551d;
  cursor: default;
}

.navigation__item_arrow {
  position: absolute;
  top: -20px;
  left: 50%;
  height: 9px;
  width: 16px;
  transform: translateX(-50%);
}

.navigation__item_link:hover {
  color: #e4551d;
}
