@import 'reset-styles';

#root {
  background-color: beige;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  flex: 1 0 auto;
  // color: blue;
}