@import 'reset-styles';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

#root {
  // background-color: beige;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  flex: 1 0 auto;
}