@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.wrapper {
  max-width: 1920px;
  width: 100%;
  background-color: aquamarine;
  margin: 0 auto;
}
.main {
  width: 100%;
}