.main__projects {
  margin-top: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__line {
  position: relative;
  margin-top: 34px;
  max-width: 1170px;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.56;
}

.line-arrow__block {
  display: flex;
  gap: 8px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.line-arrow__left,
.line-arrow__right {
  background-color: #fff;
  cursor: pointer;
}

.line-arrow__left_size,
.line-arrow__right_size {
  width: 20px;
  height: 20px;
}

.projects__images {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projects__images__item {

}

.projects__images__item-image {

}

.projects__button {
  margin-top: 40px;
  width: 151px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.36px;
  background-color: #e4551d;
  color: #fff;
  transition: all 0.5s ease;
}

.projects__button:hover {
  background: rgba(0,0,0,0);
	color: #637f83;
	box-shadow: inset 0 0 0 3px #637f83;
}

.projects__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}