.main__subscribe {
  margin-top: 60px;
  padding-top: 48px;
  width: 100%;
  background-color: #637f83;
}

.main__subscribe_color {
  color: #fff;
}

.main__subscribe__block {

}

.subscribe__block__item {

}

.subscribe__block__item__title {

}

.item__title__image {

}

.item__title__image_size {

}

.item__title__block {

}

.item__title__block__caption {

}

.item__title__block__text {

}

.subscribe__block__item__input {

}

.input__field {

}

.input__button {

}

.twitter__image {

}

.twitter__image_size {

}

.twitter__text {

}

.twitter__text_link {
  
}